<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/frontend/css/style.css">

    <script src="/frontend/js/components/navbarLoad.js"></script>
</head>
<body>
    <!--encabezado-->
    <header class="header">
        <h1 class="tittle">Sofia Cardona <span class="subtitle">maceniso</span></h1>
    </header><!--header-->

    <div class ="navbar-container">
        
    </div>
    <h1>Estoy en contacto</h1>

</body>
</html>